First we are makinga new conda environemnt, by the name of modsim, so that the packages are all localised and do not result in import errors

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
import seaborn as sns
rcParams['figure.figsize']=10,8

Now after importing all the libraries which we require for the modelling, we proceed with importing the data, and cleaning the data

In [4]:
# defining the headers of the table

col=['DATE','TIME','CO_GT','PT08_S1_CO','NMHC_GT','C6H6_GT','PT08_S2_NMHC',
     'NOX_GT','PT08_S3_NOX','NO2_GT','PT08_S4_NO2','PT08_S5_O3','T','RH','AH']

# defining the number of arrays in the table with the help of numpy
use=list(np.arange(len(col)))

df_air=pd.read_csv('AirQualityUCI.csv',header=None,skiprows=1,names=col,na_filter=True,
                   na_values=-200,usecols=use)

df_air.head()

,DATE,TIME,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,NOX_GT,PT08_S3_NOX,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

```
Sl No 		Attribute 		Description
0 		    Date 		    Date (DD/MM/YYYY)
1 		    Time 		    Time (HH.MM.SS)
2 		    CO(GT) 		    True hourly averaged concentration CO in mg/m^3 (reference analyzer)
3 		    PT08.S1(CO) 	PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
4 		    NMHC(GT) 		True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)
5 		    C6H6(GT) 		True hourly averaged Benzene concentration in microg/m^3 (reference analyzer)
6 		    PT08.S2(NMHC) 	PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
7 		    NOx(GT) 		True hourly averaged NOx concentration in ppb (reference analyzer)
8 		    PT08.S3(NOx) 	PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted)
9 		    NO2(GT) 		True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)
10 		    PT08.S4(NO2) 	PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)
11 		    PT08.S5(O3) 	PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)
12 		    T 		        Temperature in Â°C
13 		    RH 		        Relative Humidity (%)
14 		    AH 		        AH Absolute Humidity
```

Defining all the columns and their meaning, we will now proceed to clean the data prior to modelling the same, to predict